<?xml version="1.0" encoding="UTF-8"?>
<Time version="2.0" xmlns="http://www.std-cgi.com/ver20/XMLSchema">
<timeMode>{{ TIME_MODE }}</timeMode>
<localTime>{{ CURRENT_DATETIME }}{{ TIMEZONE_OFFSET }}</localTime>
<timeZone>CST-2:00:00DST{{ TIME_OFFSET }},M{{ S_MONTH }}.{{ S_WEEK }}.0/{{ S_HOUR }}:00:00,M{{ W_MONTH }}.{{ W_WEEK }}.0/{{ W_HOUR }}:00:00</timeZone>
</Time>