<?xml version="1.0" encoding="UTF-8"?>
<NTPServer version="2.0" xmlns="http://www.std-cgi.com/ver20/XMLSchema">
    <id>{{ ID }}</id>
    <addressingFormatType>{{ NTP_FORMAT }}</addressingFormatType>
    <ipAddress>{{ SERVER_IP }}</ipAddress>
    <portNo>{{ NTP_PORT }}</portNo>
    <synchronizeInterval>{{ NTP_INTERVAL }}</synchronizeInterval>
</NTPServer>